.form{
  margin-top: 20px
  input[type=file]{
    border 1px solid #4a4a4a
    background-color white
    display: inline-block
    font-size 14px
    cursor: pointer
    padding: 8px 20px
    transition .3s
    text-decoration none
    color: #4a4a4a
    &:hover{
      background-color #4a4a4a
      color white
    }
  }

}